.admin-verify-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.adminVerifyTitleBox {
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
  background-color: #efefef;
  width: 70%;
  border-radius: 1rem;
  padding: 0.8rem 5rem;
  border: 2px solid #000;
}

.admin-verify-component {
  background-color: #efefef;
  border-radius: 2rem;
  border: 2px solid #737373;
}

.admin-verify-list-title {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #fff;
  border-radius: 0.4rem;
}
